.card{
    width: 23em;
    min-height: 420px;
    border-radius: 60px;
    padding-top: 4rem !important;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
    background-color: rgba(255, 255, 255, 0.30);
    backdrop-filter:   blur(10px);
    
}

.form-control{
    border-left: none ;
    border-right: none;
    border-top: none;
    border: none;
    box-shadow: inset 0px -5px 8px -3px #0d6efd;
    background-color: rgba(255, 255, 255, 1);
}

.icon{
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;

    background-color: white;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 0px 10px gray;
}

.icon img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}

h3{
    font-family: 'Georgia', serif;
    font-weight: lighter;
    font-size: xx-large;

}

label{
    display: none;
}

input::placeholder{
    font-style: italic;
}

.yonlendir{
    margin-top: 2rem;
    font-size: small;

    text-align: right;
    color: white;
    letter-spacing: 0.05rem;
}

.yonlendir a {
    text-decoration: none;
    font-weight:500;
    color: aqua;
}
.yonlendir a:hover{
    text-shadow: 1px 1px 5px white;
    
}

.girdi{
    position: relative;
    margin-bottom: 3rem !important;
}

.small{
    position: absolute;
    bottom: -5px;
    transform: translateY(100%);
    font-size: 14px;
    text-shadow: 2px 2px 10px white;
    color: rgb(255, 46, 46) !important;
    margin-top: 0.1rem !important;
}

.wallper{
    background-image: url('/assets/images/loginWallper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.btn{
    font-size: 20px !important;
    font-weight: bolder;
    letter-spacing: 2px;
}