.filter-btns{
    position: relative;
    padding-top: 1rem;
}

.menuDisplay{
    position: absolute;
    right: 0px;
    bottom: 0px;

    transform: translateY(100%);
}

.menuHidden{
    transform: rotate(180deg);
}

.menuDisplay:hover img{
    /* background-color: lightgreen; */
    filter: drop-shadow(3px 3px 2px lightgreen) drop-shadow(0px -3px 5px lightgreen);
}

.menuHidden:hover{
    /* background-color: lightpink; */

    filter: drop-shadow(3px 3px 2px lightpink) drop-shadow(0px -3px 5px lightpink);
}

.menuDisplay, .menuHidden{
    border: none;
}

.f-btns{
    border-top-left-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
}

.btn-group>.f-btns:first-child{
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
}

.btn-group>.f-btns:last-child{
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
}

.btn-group>.f-btns:nth-child(2n):hover{
    background-color: #40E0D0;
    color: white;
}

.btn-group>.f-btns:nth-child(2n+1):hover{
    background-color: #E04050;
    color: white;
}