@if(isOpen){
<div class="overlay" (click)="close()">
    <div class="modal-parent d-flex flex-row" (click)="$event.stopPropagation()"
        (keydown.enter)="$event.stopPropagation()">
        <div class="close-btn" (click)="close()">&times;</div>
        <div class="icon-bar">
            <div class="img">
                <img src="/assets/icons/cogwheel.png" loading="lazy" alt="" srcset="">
            </div>
            <h3 class="title text-capitalize">Görev Kayıt</h3>
        </div>
        <div class="my-modal d-flex flex-column">
            <form [formGroup]="caseForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
                <!-- isim -->
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input id="name" formControlName="name" name="name" class="form-control" type="text" placeholder="Case Name">
                </div>
                <!-- date ler -->
                <div class="d-flex form-group flex-row justify-content-between">
                    <div class=" form-date me-4">
                        <label for="startDate">Start Date:</label>
                        <input formControlName="startDate" name="startDate" id="startDate" type="date" class="form-control date">
                    </div>
                    <div class=" form-date">
                        <label for="finishDate">Finish Date:</label>
                        <input formControlName="finishDate" name="finishDate" id="finishDate" type="date" class="form-control date">
                    </div>
                </div>
                <!-- tanım -->
                <div class="form-group">
                    <label for="caseDescription">Açıklama:</label>
                    <textarea formControlName="desciription" name="caseDescription"
                        id="caseDescription" type="text" class="form-control" rows="3"
                        placeholder="Case Description"></textarea>
                    </div>
                <!-- buttonlar -->
                <div class="form-group btns w-100 mt-4 ">
                    <button class="btn btn-danger" type="reset">İptal</button>
                    <button class="btn btn-primary" type="submit" [disabled]="!caseForm.valid">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
}