@if(isOpen){
<div class="overlay">
    <div class="modal-parent d-flex flex-row" (click)="$event.stopPropagation()"
        (keydown.enter)="$event.stopPropagation()">
        <div class="close-btn" (click)="close()">&times;</div>
        <div class="icon-bar">
            <div class="img">
                <img src="/assets/icons/cogwheel.png" loading="lazy" alt="" srcset="">
            </div>
            <h3 class="title text-capitalize">Görev Kayıt</h3>
        </div>
        <div class="my-modal d-flex flex-column">
            <form #caseForm="ngForm" (ngSubmit)="onSubmit($event)" (keydown.enter)="$event.preventDefault()">
                <!-- isim -->
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input id="name" #name="ngModel" name="name" [(ngModel)]="caseForCretate.name" class="form-control" type="text" placeholder="Case Name" required minlength="3">
                </div>
                <!-- date ler -->
                <div class="d-flex form-group flex-row justify-content-between">
                    <div class=" form-date me-4">
                        <label for="startDate">Start Date:</label>
                        <input #startDate="ngModel" name="startDate" [(ngModel)]="startDate" id="startDate" type="date" class="form-control date" required>
                    </div>
                    <div class=" form-date">
                        <label for="finishDate">Finish Date:</label>
                        <input #finishDate="ngModel" name="finishDate" [(ngModel)]="caseForCretate.finishDate" id="finishDate" type="date" class="form-control date" required>
                    </div>
                </div>
                <!-- tanım -->
                <div class="form-group">
                    <label for="caseDescription">Açıklama:</label>
                    <textarea #caseDescription="ngModel" name="caseDescription" [(ngModel)]="caseForCretate.description"
                        id="caseDescription" type="text" class="form-control" rows="3"
                        placeholder="Case Description" required minlength="3"></textarea>
                    </div>
                <!-- buttonlar -->
                <div class="form-group btns w-100 mt-4 ">
                    <button class="btn btn-danger" type="reset">İptal</button>
                    <button class="btn btn-primary" type="submit" [disabled]="caseForm['invalid']">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
}